<!DOCTYPE html>
<html lang="es" ng-app='metodos'>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./js/angular.min.js"></script>
    <script src="./js/app/app.config.js"></script>
    <script src="./js/app/app.module.js"></script>
    <script src="./js/app/random-num/random-num.component.js"></script>
    <script src="./js/app/random-num/random-num.module.js"></script>

</head>
<body>
    <h1 class="new-class" ng-class="{'other-class': name=='Andres'}">Hello 
        <span ng-if='name'>{{name}}</span>
        <span ng-if='!name'>World</span>
    </h1>
    <input type="text" ng-model="name">
    <div class="" ng-controller='RandomNumController'>
    
    </div>
</body>
    <style>
        .new-class{
            font-size: 50px;
        }
        .other-class{
            color: blue;
            font-size: 32px;
        }
    </style>
</html>